{% extends 'admin.html.twig' %}

{% block title %}Utilisateur n°{{ user.id }}{% endblock %}

{% block body %}
    <div class="jumbotron" style="margin-bottom: 0">
        <div class="d-flex justify-content-between align-items-center">
            <p><a href="{{ path('user_index') }}"><button class="btn btn-primary">Retourner à la liste</button></a></p>

            <p><a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-success">Modifier le joueur</button></a></p>

            {{ include('user/_delete_form.html.twig') }}
        </div>

        <ul class="list-group">
            <li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                Joueur n° {{ user.id }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Email
                <span class="">{{ user.email}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nom
                <span class="">{{ user.nom}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Prenom
                <span class="">{{ user.prenom }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Pseudonyme
                <span class="">{{ user.pseudo }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Date d'inscription
                <span class="">{{ user.creationLe ? user.creationLe|date('Y-m-d H:i:s') : '' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dernière connexion
                <span class="">{{ user.connexionLe ? user.connexionLe|date('Y-m-d H:i:s') : '' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Avatar
                <span class="">{{ user.avatar }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                En ligne
                <span class="">{{ user.online ? 'Oui' : 'Non' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Avertissement
                <span class="">{{ user.avertissement }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bloqué
                <span class="">{{ user.blocage ? 'Oui' : 'Non' }}</span>
            </li>
            <li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                Statistiques sur le joueur
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de partie jouées
                <span class="">{{ user.partiesJ1.count + user.partiesJ2.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de partie en cours
                <span class="">{{ user.partiesJ1.count + user.partiesJ2.count - user.partiesGagnees.count - user.partiesPerdues.count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de partie terminées
                <span class="">{{ user.partiesGagnees.count + user.partiesPerdues.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de partie gagnées
                <span class="">{{ user.partiesGagnees.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de partie perdues
                <span class="">{{ user.partiesPerdues.count }}</span>
            </li>
        </ul>
    </div>
{% endblock %}
